body {
    background:#0f172a;
    color:white;
    font-family:Arial;
    text-align:center;
}

table {
    margin:auto;
    border-collapse:collapse;
}

td, th {
    border:1px solid #555;
    padding:8px;
}

.card {
    display:inline-block;
    padding:20px;
    margin:10px;
    border-radius:8px;
}

.red {background:#ef4444;}
.orange {background:#f59e0b;}
.green {background:#22c55e;}
